<style>
    .splide__slide img {
  width: 100%;
  height: auto;
}
</style>


<section id="image-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="https://github.com/BlancheK/MovieTitles/blob/master/assets/img/FunFacts/Apocalypse.jpg?raw=true" alt="">
			</li>
			<li class="splide__slide">
				<img src="https://github.com/BlancheK/MovieTitles/blob/master/assets/img/FunFacts/Apocalypse.jpg?raw=true" alt="">
			</li>
			<li class="splide__slide">
				<img src="https://github.com/BlancheK/MovieTitles/blob/master/assets/img/FunFacts/Apocalypse.jpg?raw=true" alt="">
			</li>
		</ul>
  </div>
</section>


<script>
  new Splide( '#image-carousel' ).mount();
</script>
