<div class="wrapper">
  <nav class="lil-nav">
    <a href="#image-1">
        <img class="lil-nav__img" src="/assets/img/slider/ApocalypseNow.jpg" alt="Yosemite" />
    </a>
    <a href="#image-2">
        <img class="lil-nav__img" src="https://github.com/BlancheK/MovieTitles/blob/master/assets/img/FunFacts/BackToTheFuture.jpg?raw=true" alt="Basketball hoop" />
    </a>
  </nav>
  <div class="gallery">
      <img class="gallery__img" id="image-1" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/kenan-sulayman-FV3M7igu8Fs-unsplash.jpg" alt="Yosemite" />
      <img class="gallery__img" id="image-2" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/anastasia-dulgier-NCFTGtjY3EQ-unsplash.jpg" alt="Basketball hoop" />
  </div>
</div>

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}
