---
layout: base

carousels:
  - images: 
      - image: /assets/spotless.jpg
      - image: /assets/img/slider/coucou.jpg
      - image: /assets/img/slider/SilenceOfTheLambs.jpg
      - image: /assets/img/slider/HiddenFigures.jpg
  - images: 
      - image: /assets/img/slider/ThereWillBeBlood.jpg
      - image: /assets/img/slider/ApocalypseNow.jpg
      - image: /assets/img/slider/Wolf.jpg
      - image: /assets/img/slider/KillBill.jpg
      - image: /assets/img/slider/RagingBull.jpg   
  - images: 
      - image: /assets/img/slider/Streetcar.jpg
      - image: /assets/img/slider/SpiritedAway.jpg
      - image: /assets/img/slider/Slumdog.jpg
      - image: /assets/img/slider/BackToTheFuture.jpg
---

{% include carousel.html height="50" unit="%" duration="7" number="1" %}

{% include carousel.html height="50" unit="%" duration="7" number="2" %}


<div class="intro-header"></div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</main>
